In [1]:
import pandas as pd
import subprocess

In [2]:
df = pd.read_csv('salads_ml_use.csv',header=None)
df

,0,1,2,3,4,5,6,7,8,9,10
0,TEST,gs://cloud-ml-data/img/openimage/103/279324025...,Baked Goods,0.005743,0.084985,NaN,NaN,0.567511,0.735736,NaN,NaN
1,TEST,gs://cloud-ml-data/img/openimage/103/279324025...,Salad,0.402759,0.310473,NaN,NaN,1.000000,0.982695,NaN,NaN
2,TEST,gs://cloud-ml-data/img/openimage/1064/31677074...,Cheese,0.000000,0.000000,NaN,NaN,0.054865,0.480665,NaN,NaN
3,TEST,gs://cloud-ml-data/img/openimage/1064/31677074...,Cheese,0.041131,0.401678,NaN,NaN,0.318230,0.785916,NaN,NaN
4,TEST,gs://cloud-ml-data/img/openimage/1064/31677074...,Cheese,0.116263,0.065161,NaN,NaN,0.451528,0.286489,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1752,TRAIN,gs://cloud-ml-data/img/openimage/9/8864/167255...,Tomato,0.622274,0.047086,NaN,NaN,0.831055,0.140247,NaN,NaN
1753,TRAIN,gs://cloud-ml-data/img/openimage/9/8864/167255...,Tomato,0.642237,0.255867,NaN,NaN,0.771166,0.392282,NaN,NaN
1754,TRAIN,gs://cloud-ml-data/img/openimage/9/8864/167255...,Tomato,0.646396,0.652635,NaN,NaN,0.728744,0.852266,NaN,NaN
1755,TRAIN,gs://cloud-ml-data/img/openimage/9/8864/167255...,Tomato,0.772830,0.461321,NaN,NaN,0.931703,0.695888,NaN,NaN
1756,TRAIN,gs://cloud-ml-data/img/openimage/9/8864/167255...,Tomato,0.846860,0.164370,NaN,NaN,0.920058,0.248381,NaN,NaN

In [12]:
df.iloc[1]

0                                                  TEST
1     gs://cloud-ml-data/img/openimage/103/279324025...
2                                                 Salad
3                                              0.402759
4                                              0.310473
5                                                   NaN
6                                                   NaN
7                                                     1
8                                              0.982695
9                                                   NaN
10                                                  NaN
Name: 1, dtype: object

In [ ]:
def download_from_gs(row):

    if row is not None:
        print(row)

In [ ]:
df[1].applymap(download_from_gs, axis=0)

In [ ]:
subprocess.Popen("gsutil", shell=True, stdout=subprocess.PIPE).stdout.read()